<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <img src="https://th.bing.com/th/id/OIP.M1SF4RwmuAEKDAlLL71JWQHaEv?pid=ImgDet&rs=1"/>
        <img src="https://4.bp.blogspot.com/-HeLxjkHnkMU/UZCLtr3Ab8I/AAAAAAAAIkA/QAtVz6Q5-gI/s1600/hinh-anh-song-bien-6.jpg"/>
        @RenderBody()
    </div>
</body>
</html>
