<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <img src="https://th.bing.com/th/id/R.2d1bf50167bbc01e5720092084ee3bf9?rik=xB9kSLFCBDfcOA&riu=http%3a%2f%2fthuthuatphanmem.vn%2fuploads%2f2018%2f09%2f11%2fhinh-anh-dep-6_044127357.jpg&ehk=g1hC5ADWBCALT4vPZWI4M%2fmjOeSVF32fzLUV6Iw7aN4%3d&risl=&pid=ImgRaw&r=0" />
        <img src="https://th.bing.com/th/id/R.b1f4cff296ea9e404cad765b4d1bc8fd?rik=Kp3%2bZQcGJfJFmQ&pid=ImgRaw&r=0"/>
        @RenderBody()
    </div>
</body>
</html>
