<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mùa nước nổi lạ lùng ở miền Tây</title>
    <meta http-equiv="content-language" content="vietnamese" />
    <meta charset="utf-8" />
    <meta name="description" content="Bài tập thực hành lập trình Web buổi 1 bài tập 1" />
    <meta name="keywords" content="Web cơ bản" />

</head>
<body>
    <div>
        <h1>Mùa nước nổi lạ lùng ở miền Tây</h1>
        <h3>Ngư dân miền Tây cho hay năm nay đón mùa nước nổi ít bận rộn hơn vì mực nước tại các sông đầu nguồn thấp hơn so với cùng kỳ, nước lên đồng rất ít và muộn, nguồn thủy sản đánh bắt giảm.</h3>
        <p>Ngày 19-9, ghi nhận trên các cánh đồng miền Tây, nơi đầu nguồn huyện Hồng Ngự, tỉnh Đồng Tháp mặc dù đã vào cuối tháng 7 âm lịch nhưng mực nước trên đồng chỉ xấp xỉ 50-70cm, theo dự báo mực nước trên các sông đo được thấp hơn cùng kỳ năm 2022 hơn 1m, ngư dân ít bận rộn hơn.</p>
        <p>Ngư dân chuyên làm nghề đặt dớn xã Thường Lạc cho hay mùa nước nổi năm nay lạ lùng chưa từng có, thông thường đầu tháng 7 âm lịch nước đã tràn đồng, thời điểm này lẽ ra là đỉnh điểm mùa nước nổi nhưng trên đồng nước cạn, cỏ mọc đầy đồng.</p>
        <p>"Mỗi ngày tôi đi bắt cua thu nhập vài chục ngàn đồng, mùa khô làm ruộng. Xung quanh cánh đồng người ta đặt dớn nhiều, nhưng hiện tại đã cuốn lưới phơi lên hết, chờ con nước, chứ để ngoài đồng mà không có nước, chuột cắn phá hết", ông Hảo nói.</p>
        <p>Ông Nguyễn Hoàng Nhung - trưởng Phòng Nông nghiệp và Phát triển nông thôn huyện Hồng Ngự - cho biết mực nước dự báo thời điểm này 2,25m, thấp hơn cùng kỳ năm 2022 khoảng 1m. Trên địa bàn huyện thực hiện xả lũ vào các ô bao nước ngập từ 50-70cm.</p>
        <p>"Ngư dân chuẩn bị ngư cụ đánh bắt thủy sản, theo dự báo các ngành chuyên môn, mực nước năm nay không cao hơn so với cùng kỳ, cao nhất ước đạt 2,7m mặc dù thời điểm này đã gần cuối mùa nước nổi, chỉ còn khoảng 3-4 con nước đạt đỉnh nữa", ông Nhung nói.</p>
        <p>Theo Đài khí tượng thủy văn tỉnh An Giang, mực nước dự báo trên sông Tiền trạm Tân Châu cao nhất 2,4m, thấp nhất 1,8m, thấp hơn mức báo động I 1,1m, thấp hơn so với cùng kỳ năm 2022 0,68m.</p>
        @RenderBody()
    </div>
</body>
</html>
